<!DOCTYPE html>
<html>

<head>
    <!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="renderer" content="webkit">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <!--[if lt IE 9]>
    <link href="./css/ie8.css" rel="stylesheet">
   <![endif]-->

    <title>名场组件使用示例</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link type="text/css" rel="stylesheet" href="/pkg/mcren_be652.css">
</head>

<body>
    <div class="siteheader">
	<header>
		<h1>
			<a href="/" title="MCREN UI">MCREN UI</a>
		</h1>
		<div>
			<a href="/">首页</a>
			<a href="/fis">fis使用</a>
			<a href="/basepart">基本元件</a>
			<a href="/webpartbase">基本复合组件</a>
			<a href="/webpart">复杂复合组件</a>
			<a href="/static">静态部分</a>
			<a href="/less">LESS</a>
		</div>
	</header>
</div>
    <div class="main">
        <div class="leftside">
            <h2>主体字体</h2>
           （1）你希望别人搜索什么样的词组的时候会搜索到您？重要！输入代表你身份、职业、爱好……相关标签词组。其他会员可以通过搜索<身份标签>找到你。（2）尽量多而准确的填写标签词组，其他会员更容易搜索到您。
             <h2>副体字体</h2>
            <span class="small">我的人脉</span>
            <pre><code class="hljs js">&lt;span <span class="hljs-class"><span class="hljs-keyword">class</span></span>=<span class="hljs-string">"small"</span>&gt;我的人脉&lt;<span class="hljs-regexp">/span&gt;</span>
</code></pre>

            <h2>超级链接</h2>
            <a href="#">我的人脉</a>
            <h2>按钮</h2>
            <div><button class="btn btn-primary">按钮</button></div>
            <div><button class="btn btn-primary btn-lg">按钮</button></div>
            <div><button class="btn btn-primary btn-block">按钮</button></div>
            <div><button class="btn btn-primary btn-block textright">按钮</button></div>
            <pre><code class="hljs js">&lt;div&gt;<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-primary"</span>&gt;</span>按钮<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-primary btn-lg"</span>&gt;</span>按钮<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-primary btn-block"</span>&gt;</span>按钮<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-primary btn-block textright"</span>&gt;</span>按钮<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></span>
</code></pre>

        </div>
        <div class="rightside">
            <ul>
                <li><a href="#nav-1">主体字体</a></li>
                <li><a href="#nav-2">副题</a></li>
                <li><a href="#nav-3">超练级</a></li>
                <li><a href="#nav-4">按钮</a></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8" src="/lib/mod.js"></script>
<script>

    </script>
<script type="text/javascript" charset="utf-8" src="http://192.168.1.103:81314/livereload.js"></script></body>

</html>
