<!DOCTYPE html>
<html>

<head>
  <link rel="import" href="/widget/head/head.html?__inline">
  <title>名场-首页</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="stylesheet" type="text/css" href="/css/mcren.css">
  <link rel="stylesheet" type="text/css" href="/site/index/index/index.css">
  <script type="text/javascript" src="/lib/mod.js"></script>
</head>

<body>
  <div class="index-banner-explain">
    <div>
      <span>欢迎加入&nbsp;&nbsp;WELCOME TO HERE</span>
      <P class="banner-tip present">职场人士聚集地：职场社交，宣传自己，找人，人脉拓展，信息分享</P>
      <P class="banner-tip">6度人脉链＋金字塔图示：展示人脉关系，挖掘价值人脉</P>
      <P class="banner-tip">[百度]-搜网站，[淘宝]-搜商品，[名场]-<i>搜人+人脉……</i></P>
      <P class="banner-tip">诚信评价功能：筛选社交目标，净化职场社交空间</P>
      <P class="banner-tip">您的信息将在你创建的高质量人脉链中：传播分享……。并可<i>现金悬赏</i>分享者</P>
      <P class="banner-tip present">职场人士聚集地：职场社交，宣传自己，找人，人脉拓展，信息分享</P>
    </div>
  </div>
  <div class="index-banner">
    <div class="slide">
      <div id="slide-content">
        <a href="#">
          <img src="/site/index/index/img/banner-1.jpg" alt="">
        </a>
        <a href="#">
          <img src="/site/index/index/img/banner-2.jpg" alt="">
        </a>
        <a href="#">
          <img src="/site/index/index/img/banner-3.jpg" alt="">
        </a>
        <a href="#">
          <img src="/site/index/index/img/banner-4.jpg" alt="">
        </a>
        <a href="#">
          <img src="/site/index/index/img/banner-5.jpg" alt="">
        </a>
      </div>
    </div>
    <ul id="slide-nav" class="clearfix">
      <a class="w199" href="#">
        <li>职场社交</li>
      </a>
      <a href="#">
        <li>6度人脉</li>
      </a>
      <a href="#">
        <li>搜索</li>
      </a>
      <a href="#">
        <li>诚信</li>
      </a>
      <a class="w199" href="#">
        <li style="border-right: 0;">分享</li>
      </a>
      <li class="arrow"></li>
    </ul>
  </div>
  <div class="main">
    <div class="open-world">
      <i></i>
      <h2>一个开放的
        <em>人脉分享+职场社交</em>世界</h2>
      <img src="/site/index/index/img/eg-1.jpg" alt="">
      <p>
        <em>开放人脉：共赢</em>
        <br>在这里，每个人的人脉资源都是开放的，共享的……不必吝啬你的人脉资源被别人分享
        <br>在别人分享你优质人脉的时候
        <br>你也在借助别人的价值人脉拓展视野，提升自我
        <br>人脉的优质是你综合能力的体现，将吸引更多优秀会员的关注与社交</p>
      <img src="/site/index/index/img/eg-2.jpg" alt="">
      <p>
        <em>职场社交：诚信，有效，精准</em>
        <br>职场人士出于工作目的而进行的有效，精准，实用的社交平台
        <br>社交包含：工作，事业，职场提升，生活……
        <br>带有“诚信评价”机制的社交空间。根据“诚信等级”可有效的寻找社交目标和人脉链
      </p>
      <img src="/site/index/index/img/eg-3.jpg" alt="">
      <p>
        <em>自我宣传，更多机遇</em>
        <br>为每一位职场人提供宣传自我，展示职场能力的平台
        <br>为职场人士自我推送，树立自身形象，吸引更多优秀者的目光，而搭建的平台
      </p>
    </div>
    <div class="even-more clearfix">
      <i></i>
      <h2>满足
        <em>你想做的，</em>甚至
        <em>更多…</em>
      </h2>

      <div class="wraper">
        <i class="icon-user"></i>
        <h3>自我宣传</h3>
        <p>建立自己优秀的个人资料，
          <br>包括：基础资料，身份标签，联系方式等等
          <br>可选择是否允许别人传播你的个人信息
          <br>你：将在高品质的人脉链中传播
        </p>
        <hr>
      </div>
      <div class="wraper middle">
        <span class="patent" placeholder="此模式的“视觉展示模式”“理念”“技术思路”<br>均已获得“中国互联网发明专利”。<br>专利号：201510261677.5<br>抄袭模仿，违规必究">专利</span>
        <i class="icon-search"></i>
        <h3>建立
          <em>6度人脉社交</em>链</h3>
        <p>首先与网友/朋友/同事建立“一级人脉”关系
          <br>将获得他们每个人深达6层级的人脉资源
          <br><i>你+你的人脉</i>资源也将被他们所共享
          <br>人脉探寻深度可达6层级：<i>6度人脉</i>（50亿人）
        </p>
        <hr>
      </div>
      <div class="wraper">
        <span class="patent" placeholder="此模式的“视觉展示模式”“理念”“技术思路”<br>均已获得“中国互联网发明专利”。<br>专利号：201510261677.5<br>抄袭模仿，违规必究">专利</span>
        <i class="icon-group"></i>
        <h3>自我宣传</h3>
        <p>设定搜索条件
          <br>包括：身份标签，诚信等级，社交需求等等
          <br>可搜索：<i>目标人+认识目标人的人</i>
          <br>并显示出到达目标人的所有<i>人脉路径</i></p>
        <hr>
      </div>

      <div class="wraper">
        <span class="patent" placeholder="此模式的“视觉展示模式”“理念”“技术思路”<br>均已获得“中国互联网发明专利”。<br>专利号：201510261677.5<br>抄袭模仿，违规必究">专利</span>
        <i class="icon-link"></i>
        <h3>探寻彼此人脉关系</h3>
        <p>可查看任何一个会员与自己的人脉关系
          <br>请注意
          <br>你的“一级人脉”的质量和数量
          <br>是你探寻大数据人脉关系的重要基础
        </p>
        <hr>
      </div>
      <div class="wraper middle">
        <i class="icon-comments"></i>
        <h3>发布说说</h3>
        <p>说说：可发布各类信息
          <br>内容包括：工作，商务，交流，休闲等等
          <br>信息将在你创建的<i>6度人脉链</i>中传播
          <br>信息将被<i>海量阅读</i>，也可传播至人脉链之外
        </p>
        <hr>
      </div>
      <div class="wraper">
        <img src="/site/index/index/img/eg-4.jpg" alt="">
        <h3>分享</h3>
        <p>你可以定向选择，那些信息允许被转发分享
          <br>并可<i>现金悬赏</i>为你传播信息的会员，
          <br>众多优质会员将成为你的“广告员”
          <br>你也可转发别人的信息，获得信息创建者的<i>现金悬赏</i></p>
        <hr>
      </div>

      <div class="wraper">
        <i class="icon-star"></i>
        <h3>诚信评价</h3>
        <p>会员之间可以进行诚信评价
          <br>综合会员评价，得出会员的<i>诚信等级</i>
          <br><i>诚信等级</i>是选择社交对象的参考依据
        </p>
      </div>
      <div class="wraper middle">
        <i class="icon-envelope"></i>
        <h3>站内信件</h3>
        <p>会员可以彼此信件往来
          <br>双方同时在线的时候，信件可以实时聊天
        </p>
      </div>
      <div class="wraper">
        <i class="icon-edit"></i>
        <h3>评论</h3>
        <p>可以对会员发布的所有信息进行评论
          <br>评论项目：说说，诚信评价，综合资讯……
          <br>发布精彩评论，是自我推送的一种手段
        </p>
      </div>
      <div class="wraper bottom">
        <h4>这里还能做更多</h4>
        <p>
          无论您是职场人士出于工作目的而需要拓展人脉，找人，宣传自己，传播信息，获取信息
          <br>还是您出于个人因素需要兴趣社交，休闲社交，生活社交，情感社交
          <br>[名场]：强大的6度人脉社交
          <br>将为您带来前所未有的社交体验
        </p>
      </div>
    </div>

    <div class="core-team clearfix">
      <i></i>
      <h2>名场
        <em>核心</em>团队</h2>
        <a class="teammates" href="#" src="">
          <img src="/site/index/index/img/team-1.jpg" alt="">
        </a>
        <p class="job">CEO：孟勐
          <br>硕士</p>
      <div class="team-photo mb100">
        <a class="teammates" href="#">
          <img src="/site/index/index/img/team-2.png" alt="">
        </a>
        <p class="job">CTO：乔祝垒
          <br>学士</p>
      </div>
      <div class="team-photo">
        <a class="teammates" href="#">
          <img src="/site/index/index/img/team-2.png" alt="">
        </a>
        <p class="job">CTO：乔祝垒
          <br>学士</p>
      </div>
      <div class="team-photo">
        <a class="teammates" href="#">
          <img src="/site/index/index/img/team-2.png" alt="">
        </a>
        <p class="job">CTO：乔祝垒
          <br>学士</p>
      </div>
      <div class="team-photo">
        <a class="teammates" href="">
          <img src="/site/index/index/img/team-2.png" alt="">
        </a>
        <p class="job">CTO：乔祝垒
          <br>学士</p>
      </div>
      <p class="note">
        <em>--欢迎互联网精英加盟--</em>
        <br>
        <span><i class="icon-phone"></i></span>0371 / 89911992
        <span><i class="icon-envelope"></i></span> 2191921092@qq.com
        <span><i class="icon-map-marker"></i></span>郑州 / 会展中心CBD
      </p>
      <a class="share tencent" href="http://t.qq.com/xianglangy8153" target="_blank"></a>
      <a class="share sina" href="http://weibo.com/u/5585723371/home?leftnav=1" target="_blank"></a>
      <div class="share weixin" href="#">
        <div class="weixin-erweima">
          <img src="/site/index/index/img/weixin.jpg" alt="">
        </div>
      </div>

    </div>
  </div>
  <div class="index-footer">
    <div class="state clearfix">
      <p>上海股权交易中心Q版企业：红象科技
        <br>股权代码：206537</p>
      <div>
        <p>旗下网站诚征代理合作</p>
        <a href="javascript:void(0);">名场</a>
        <a href="javascript:void(0);">爱情事件</a>
        <a href="javascript:void(0);">九观</a>
      </div>
    </div>
    <ul class="about clearfix">
      <li class="li-1"><a href="/help/team">关于我们</a></li>
      <li class="li-2"><a href="/help/build">网站帮助</a></li>
      <li class="li-3"><a href="/help/kanli">网站合作</a></li>
    </ul>
    <ul class="link clearfix">
      <li><a href="http://www.163.com/">网易</a></li>
      <li><a href="http://www.cad.com.cn/">名车志</a></li>
      <li><a href="http://www.tuniu.com/">途牛网</a></li>
      <li><a href="http://www.sina.com.cn/">新浪</a></li>
      <li><a href="http://www.anjuke.com/">安居客</a></li>
      <li><a href="http://www.shangpin.com/">尚品网</a></li>
      <li><a href="http://www.meilele.com/">美乐乐</a></li>
      <li><a href="http://www.dionly.com/">戴欧妮珠宝</a></li>
      <li><a href="http://www.kadang.com/">卡当网</a></li>
      <li><a href="http://www.miaokenet.com/">秒客网</a></li>
      <li><a href="http://www.cheyipai.com/">车易拍</a></li>
      <li class="last-link"><a href="http://www.360kan.com/">360影视</a></li>
      <li class="record-num">豫ICP备14025264号</li>
    </ul>
  </div>
  <link rel="import" href="/widget/foot-data/footdata.html?__inline">
  <script>
    var index = require('index/index/index');
    index.init();
  </script>
</body>

</html>
